.block1 {background-color:#d5f4e6;margin:10px;padding:10px;}
.block2 {background-color:#d5f4ff;margin:10px;padding:10px;}
.block3 {background-color:#d5cce4;margin:10px;padding:10px;}
.block4 {background-color:#d5cce6;margin:10px;padding:10px;}
.block5 {background-color:#5900ff;margin:10px;padding:10px;}
.block6 {background-color:#16a8d4;margin:10px;padding:10px;}
.block7 {background-color:#92940c;margin:10px;padding:10px;}
